// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables and Mixins
@import 'variables';
@import 'mixins';

// Reset & Base Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global Styles
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
}

// Component Styles
@import 'components/navbar';
@import 'components/login';
@import 'components/register';
@import 'components/profile';
@import 'components/password-strength';
@import 'components/theme-toggle';
